/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #A1B5D8;      /* Blue */
  --color-muted: #738290;        /* Gray */
  --color-background: #FFFCF7;   /* Cream */
  --color-accent-green: #E4F0D0; /* Light Green */
  --color-accent-olive: #C2D8B9; /* Pale Olive */
  --color-strong-text: #2C2F36;  /* Strong Dark Gray */
}

