input::placeholder {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);  /* semi-transparent black */
  font-size: 0.875rem; /* smaller font size */
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-6px); }
  40%, 80% { transform: translateX(6px); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}
